<li class="movie-list__item">
    <div class="movie-list__card">
        <div class="movie-list__card-inner">
            <img src="{{imgSrc}}" alt="movie poster" class="movie-list__card-poster">
            <h2 class="movie-list__card-title">{{title}}</h2>
            <p class="movie-list__card-genre">{{genre}}</p>
            <time class="movie-list__card-date">{{releaseDate}}</time>
            <p class="movie-list__card-rating">{{rating}}</p>
        </div>
    </div>
</li>